.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align:center;
}

#loginForm, #locationForm, #eventsForm, #ridesForm {
	height: 200px;
	background-image:url(http://www.newyorker.com/online/blogs/photobooth/NASAEarth-01.jpg);
}