.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align:center;
}

body {
	font-family: Novecentosanswide-Light;
	color: white;
}

#loginForm {
	height: 314px;
	width: 500px;
	background-image:url("/RideR/webapp/images/front_page.jpg");
}

#locationForm {
	height:166px;
} 

#locationForm p {
	font-size:3em;
	margin:.1em;
}

#locationForm input {
	font-size:3em;
	border-radius:.3em;
	font-family: Novecentosanswide-Light;
}

#eventsForm, #ridesForm {
	height: 200px;
	width: 300px;
}