body {
	background-image:url("../images/road-trip-dark.png");
	background-size: cover;
}

#ridesform {
	width:400px;
	height:300px;
}

.riderName {
    font-size:1.4em;
    margin-bottom:0;
}

.rider {
	background-color:#A8444F;
	border-radius:.4em;
	margin:1em;
}

.rider p {
	margin:0;
}

button {
    width:10em;
    margin:1em;
    font-size:1.7em;
    font-weight:bold;
    font-family: Novecentosanswide-Light;
    margin:.3em;
}